body {
    background-image: url("../Images/bg.png");
    /* background-color: blanchedalmond; */
    margin: 0;
}
* {
    box-sizing: border-box;
}

#container1 {
    width: 960px;
    margin: auto;
    height: 78.8;
}

#container2 {
    width: 960px;
    margin: auto;
    clear: both;
}

#parent {
    background: white;
    width: 100%;
}

nav {
    float: right;
    padding-top: 10px ;
}

ul li { 
    display: inline;
    /* margin-left: 5px;
    margin-right: 5px; */

}

.nav1 {
    border-right: 1px solid #777;
}

.nav2 {
    border-right: 1px solid #777;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    color: #777;
}

#name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 0px 20px;
    
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#title {
    color: #4aaaa5;
}

#main {
    clear: both;
    background: white;
    
}


