body {
    background-image: url("../Images/bg.png");
    margin: 0;
    display: flex;
    flex-direction: column;
}
* {
    box-sizing: border-box;
}

#container1 {
    width: 960px;
    margin: auto;
}

#container2 {
    width: 960px;
    margin: auto;
    background: white;
    border: solid 1px #dddddd;
    margin-top: 30px;
}

#parent {
    background: white;
    width: 100%;
    height: 75px;
    border-bottom: 1px solid #cccccc;
}

nav {
    float: right;
    padding-top: 10px ;
}

ul li { 
    display: inline;
}

.nav1 {
    border-right: 1px solid #777777;
}

.nav2 {
    border-right: 1px solid #777777;
}

ul li a {
    text-decoration: none;
    padding: 10px;
    color: #777;
}

#name {
    float: left;
    background-color: #4aaaa5;
    color: white;
    padding: 0px 20px;
    height: 100%;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#title {
    color: #4aaaa5;
    padding: 15px 0px 30px 0px;
    border-bottom: solid 2px #dddddd;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

#content {
    padding: 10px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
}

#main {
    width: 900px;
    margin: auto;
}

p {
    line-height: 36px;
}

#p1 {
    margin-top: 0px;
    margin-left: 215px;
    position: relative;
    top: -8px;
}

#mepic {
    width: 192px;
    height: auto;
    float: left;
    border: solid 1px #dddddd;
}

#footer {
    
    width: 100%;
    color: white;
    border-top: 8px solid #4aaaa5;
    height: 50px;
    background: #666666;
    position: relative;
    text-align: center;
}

footer {
    bottom: 0;
    width: fit-content;
    margin: auto;
    flex-shrink: 0;
    padding-top: 20px;
}

.input {
    width: 100%;
    height: 30px;
    margin: 6px 0px;
    color: #777777;
    font-size: 15px;
    padding-left: 10px;
}

#msg {
    height: 200px; 
    width: 100%;
    overflow: auto;
    margin: 6px 0px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    font-size: 15px;
    padding: 5px 10px;
    border-color: #dddddd;
}

.submit {
    background-color: #4aaaa5;
    border: none;
    color: white;
    width: 90px;
    height: 32px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 15px;
}

.items {
    float: left;
    position: relative;
    text-align: center;
    height: 200px;
    width: 200px;
    margin-bottom: 30px;
    margin-right: 25px;
}

.itemtext {
    position: absolute;
    width: 100%;
    height: 50px;
    left: 50%;
    margin-left: -100px;
    bottom: 15px;
    background: #4aaaa5;
    color: white;
    padding-top: 5px;
    
}

#item1 {
    height: 200px;
    width: 200px;
}



